html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: transform 1s ease-out;
  }
 
  
  .move-up {
    transform: translateY(-250px); /* Adjust the distance you want to move up */
  }
  .textStyle {
    color: yellow;
    text-align: center;
    font-size: 4em;
    margin-top: 44%
  }
  
  .inputContainer {
    display: flex;
    align-items: center; 
  }
  
  .textInput {
    margin-top: 10px; /* Adjusted margin-top for vertical centering */
    margin-right: 10px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px;
    width: 50%;    

  }
  .textInput::placeholder{
    color: black;
  }
  
  .dropdown {
    margin-top: 10px; /* Adjusted margin-top for vertical centering */
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 27%;
    color: black; /* Text color for the selected option in the dropdown */
  }
  
  .dropdown option {
    color: black; /* Text color for dropdown options */
  }
  
  .centeredButton {
    background-color: black;
    color: yellow;
    border-radius: 10px;
    border: 3px solid white; /* Set border color to white and width to 4px */
    margin-top: 7%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
   margin-left: 38%;
    width: 15%; 
}