html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
  }
  
   .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* height: 100vh; */
  } 
  body::-webkit-scrollbar {
    width: 12px; 
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent; 
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  
  .move-up {
    transform: translateY(-230px);
    transition: transform 1s ease-out;
  }
  
  .textStyle {
    color:#FABB2E;
    text-align: center;
    font-size: 4em;
  }
  
  .inputContainer {
    display: flex;
    align-items: center; 
  }
  
  .textInput {
    margin-top: 10px; 
    margin-right: 10px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px;
    width: 50%;    

  }
  .textInput::placeholder{
    color: black;
  }
  
  .dropdown {
    margin-top: 10px; 
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 27%;
    color: black; 
  }
  
  .dropdown option {
    color: black; 
  }
  
  .centeredButton {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 3px solid #FABB2E; 
    margin-top: 7%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
   margin-left: 38%;
    width: 18%; 
}
.downloadButton{
  background-color: black;
  color: #FABB2E;
  border-radius: 10px;
  border: 3px solid white; 
  margin-top: 7%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
 margin-left: 38%;
  width: 26%; 
}