.scrapercontainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .scraperData {
    color: white;
    border: 2px solid yellow;
    padding: 10px;
    max-width: 80%;
    text-align: center;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 60vh; /* Set a maximum height for scrolling */
  }
  
  .h1textStyle {
    color: yellow;
    font-size: 2em;
  }
  
  .scrollable {
    overflow-y: auto;
  }
  