.scrapercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.h1container {
  display: flex;
  align-self: flex-start;
  margin-left: 9.4%;
}

.h1textStyle {
  color: #FABB2E;
  font-size: larger;
  margin-top:5%;
}

.urlText {
  color: white;
  margin-left: 10px; 
}

.scraperData {
  color: white;
  border: 2px solid #FABB2E;
  padding: 10px;
  min-width: 80%;
  max-width: 80%;
  text-align: center;
  overflow-y: auto;
  min-height: 50vh;

}
.cardStyle{
  width: 81%;
  margin-bottom: 4%;
  border: 3px solid white;
  height:2%;
  padding-bottom: 3%;

}
.cardContentStyle {
  background-color: #FABB2E;
  color: black;
  align-items: center;
  font-weight: bold;
  overflow-y: auto;
  max-height: 5vh;
}

.cardContentStyle::-webkit-scrollbar {
  width: 6px;
}

.cardContentStyle::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 6px;
}

.cardContentStyle::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}
.scraperData::-webkit-scrollbar {
  width: 6px;
}

.scraperData::-webkit-scrollbar-thumb {
  background-color: #FABB2E; /* Color of the thumb */
  border-radius: 6px;
}

.scraperData::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}
